# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Archivos de logs
*.log
app/logs/

# Archivos de caché de pytest
.pytest_cache/

# Directorios de entornos virtuales
venv/
env/
ENV/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Cachés y archivos temporales de Streamlit
.streamlit/
__pycache__/

# RAG Vector Store DB (Local)
vector_store_db/ 